{% extends 'main.html' %}


{% block title %}
<title>Home Page</title>
{% endblock title %}
{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <h1 class="container">Home Page</h1>

  <div class=" w-50 m-auto p-4 bg-light ">
    <h1 class="text-center m-4 bg-info"> Add Todo </h1>
        <form method="post" enctype="multipart/form-data">
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Save</button>
            
            <span style="margin-right: 3px;"><a href='todolist' class='btn btn-success'>Todo List</a></span>

            {% csrf_token %}
        </form>
    </div>


  
{% endblock body %}