{% extends 'main.html' %}
{% block title %}
<title>Login Page</title>
{% endblock title %}




{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

<form class='container my-4' method='POST' action='login'>
    {% csrf_token %}
<section class="vh-100" style="background-color: skyblue;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
  
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">User Name</label>
                <input type="text" id="inputCity" class="form-control form-control-lg" placeholder="User Name" name='uname'  required/>
                
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" id="inputPassword4" class="form-control form-control-lg" placeholder="Password" name='password' required/>
                
              </div>
  
              <!-- Checkbox -->
              <div class="form-outline mb-4">
                
                <label class="form-check-label" for="form1Example3">
                    <a href='reset_password' class='btn btn-danger'>Forgot Password</a>&nbsp &nbsp &nbsp 
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                <!-- <span style="margin-right: 4px;"><a class="btn btn-success" href='register' style="margin-right: value">Register</a></span>
                   
                </label> -->

                
                <!-- <hr class="my-4">
                <label class="form-check-label" for="form1Example3">
                    <a class="btn btn-success" href='register'>Register</a>
                </label> -->

              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
            <!-- <hr class="my-4">
  
              <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
   -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}
