{% extends 'main.html' %}
{% block title %}

{% endblock title %}
{% block body %}

<h1>Todo List</h1>

<div class="container mt-5 bg-light" style="border:1px solid ; background-color:#1111; border-radius: 10px;">
    <h1 class="m-4 text-center"> Todolist Records <a href="todoadd" class="btn btn-primary">Add Todo</a></h1>
  <span  style="margin-right: 50px;"><p>Assign the manager to Employee.<a href="todoassign"><button style="background-color: green; color: white;">Assign</button></a></p></span>
    <table class="table table-bordered">
        <tr class="bg-info text-white text-center ">
            <td > SR NO.</td>
            <td>User</td>
            <td >User Role</td>
            <td> Task</td>
            <td> Task Status </td>
            <td> Priority  </td>
            <td>Action</td>
            <!-- <td>Task-Status</td> -->
            
        </tr>
        {%for rec in records %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{rec.user.first_name}} {{rec.user.last_name}}</td>
            <td>{{rec.user.role}}</td>
            <td>{{rec.task}}</td>
            <td>{{rec.status}}</td>
            <td>{{rec.priority}}</td>
            <!-- <td> <a href="todoedit{{rec.id}}" class="btn btn-success">Edit</a>
                <a href="tododelete{{rec.id}}" class="btn btn-danger">Delete</a> -->
                <td> <a href="todoedit{{rec.id}}">Edit</a>
                    <a href="tododelete{{rec.id}}">Delete</a> 
            </td>
          
        </tr>
    {%endfor%}
    </table>
</div>





{% endblock body %}